{% extends 'layout.html' %}
{% block content %}
	
	<div class="content-section">
		<center><h1 class="article-title blue">About</h1></center>
		<hr>
		<p>dKYP is a peer-to-peer trading platform.</p>
		<p>It allows users to post offers and search through them in an effort to make peer-to-peer trading easier.</p>
		<p>dKYP DOES NOT act as a middleman OR provide any guarantee for users, but instead allows them to find and create offers, and allows users to provide contact information to make the trade happen.</p>
		<p>All trading which does happen takes place between the independent individuals themselves. dKYP only acts as a "search engine" of offers for users.</p>
		<p>Take every precaution whilst dealing online, and ensure that you are not going to be scammed! Scamming is rampant in the peer-to-peer trading community.</p>
		<p>Please read and agree to our <u><a href="{{url_for('main.help', topic='terms')}}">Terms & Conditions</a></u> as well as our <u><a href="{{url_for('main.help', topic='rules')}}">Rules & Guidelines</a></u> to use dKYP.net</p>
		<p><u><a href="{{ url_for('main.discord') }} ">Join our Discord community</a></u> to discuss the site and give feedback!</p>
	</div>
{% endblock content %}
