{% extends 'layout.html' %}
{% block content %}
	<div class="content-section">
	<h1 class="article-title blue"><center>Advertise</center></h1>
	<hr>
	<p>Thank you for showing interest in advertising with us.</p>
	<p>When you purchase an advertisement for the desired post, it will be stickied to the top of all searches for the given have/want currencies (regardless of the sort-by filter the user has enabled).</p>
	<p>Advertisements fees are charged based on the amount of time you would like them to be active (per day).</p>
	<p>There are currently no advertisement slots available.</p>
	</div>
{% endblock content %}