<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">

    <meta name="description" content="{{ description if description else 'The peer-to-peer multi currency exchange network. Trade your currencies in a decentralized manner and build up your reputation, view and post live offers!' }}">

    {% if post %}
	<meta property="og:type" content="article">
	<meta property="article:published_time" content="{{ post.date_posted.strftime('%m-%d-%Y') }}">
	{% endif %}
	<meta property="og:site_name" content="crytter">
	<meta property="og:description" content="{{ description if description else 'The peer-to-peer multi currency exchange network. Trade your currencies in a decentralized manner and build up your reputation, view and post live offers!' }}">
	<meta property="og:title" content="{{ title if title else 'crytter.org | peer-to-peer currency exchange'}} | crytter">
	<meta property="og:image" content="{{ url_for('static', filename='crytter.png', _external=True) }}">
	<meta name="twitter:title" content="{{ title if title else 'crytter.org | peer-to-peer currency exchange'}} | crytter">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='utils.js')  }}"></script>
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>crytter</title>
	{% endif %}
</head>
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
if(getCookie('currencyDropdown') == ""){setCookie('currencyDropdown', false, 3650);}
var currencyDropped = getCookie('currencyDropdown');
</script>
<body>
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="/">crytter</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
	        <div class="navbar-nav mr-auto">
	          <a class="nav-item nav-link" href="{{ url_for('main.home') }}">offers</a>
	          <a class="nav-item nav-link" href="{{ url_for('main.about') }}">about</a>
	          <a class="nav-item nav-link" href="{{ url_for('main.search') }}">search</a>
	        </div>
	        <div class="navbar-nav">
	        {% if current_user.is_authenticated %}
	        <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">new offer</a>
	        <a class="nav-item nav-link" href="{{ url_for('users.userpage', username=current_user.username) }}">profile</a>
	        <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">logout</a>
	        {% else %}
	          <a class="nav-item nav-link" href="{{ url_for('users.login') }}">login</a>
	          <a class="nav-item nav-link" href="{{ url_for('users.register') }}">register</a>
	        {% endif %}
	        </div>
	      </div>
	    </div>
	  </nav>
	</header>

	<main role="main" class="container">
	  <div class="row">
	    <div class="col-md-8">
	      {% with messages = get_flashed_messages(with_categories=true) %}
	      	{% if messages %}
	      		{% for category, message in messages %}
	      		<div class='alert alert-{{ category }}'>
	      			{{ message }}	
	      		</div>
	      		{% endfor %}
	      	{% endif %}
	      {% endwith %}
	      {% block content %}{% endblock %}
	    </div>
	    <div class="col-md-4">
	      <div class="content-section">
	      	{% if current_user.is_authenticated %}
	        <p class='text-muted'>
	          <ul class="list-group">
	            <li class="list-group-item list-group-item-light"><a href="{{ url_for('main.home') }}"><span class="fa fa-bank"></span> Offers</a></li>
	            <li class="list-group-item list-group-item-light"><a href="{{ url_for('main.search') }}"><span class="fa fa-search"></span> Search</a></li>
	            <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.alerts') }}"><span class="fa fa-bell"></span> Alerts {% if current_user.alerts|rejectattr("seen")|list %}<span style="color: #f92672;">({{ current_user.alerts|rejectattr("seen")|list|length if current_user.alerts|rejectattr("seen")|list|length < 99 else '99+' }})</span>{% endif %}</a></li>
	            <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.ratings', username=current_user.username) }}"><span class="fa fa-check-square-o"></span> Reputation <span class="{{ 'red' if current_user.rating < 0 else 'green'}}">({{ current_user.rating }})</span></li></a>
	            {% if current_user.permission_level > 2%}<li class="list-group-item list-group-item-light"><a href="{{ url_for('main.admin') }}"><span class="fa fa-shield"></span> Manage</a></li>{% endif %}
	          </ul>
	        </p>
	        {% else %}
	        <h3 class="article-title blue">Register or Login</h3>
	        <p class='text-muted'>Login to post offers, comment, and rate others!
	          <ul class="list-group">
	            <li class="list-group-item list-group-item-light"><a href="{{ url_for('main.home') }}"><span class="fa fa-bank"></span> Offers</a></li>
	            <li class="list-group-item list-group-item-light"><a href="{{ url_for('main.search') }}"><span class="fa fa-search"></span> Search</a></li>
	            <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.login') }}"><span class="fa fa-key"></span> Login</a></li>
	            <li class="list-group-item list-group-item-light"><a href="{{ url_for('users.register') }}"><span class="fa fa-user"></span> Register</a></li>
	          </ul>
	        </p>
	        {% endif %}
	      </div>
		      <div class="row-md-4">
			      <div class="content-section">
			          <ul class="list-group">
			          	<li class="list-group-item list-group-item-light"><a data-toggle="collapse" href="#currencyList" role="button" aria-expanded="false" aria-controls="currencyList" onclick="e = document.getElementById('down-arrow'); if(getCookie('currencyDropdown') == 'true'){e.classList.remove('fa-angle-double-up'); e.classList.add('fa-angle-double-down'); setCookie('currencyDropdown', false, 3650);}else{e.classList.remove('fa-angle-double-down'); e.classList.add('fa-angle-double-up'); setCookie('currencyDropdown', true, 3650);}"><span id="down-arrow" class="fa fa-angle-double-down"></span> Exchange Rates</a></li>
			          	<div class="collapse" id="currencyList">
			          	<li class="list-group-item list-group-item-light">Euro = <samp class="dark-bg" id="EUR-price">---</samp></li>
			          	<li class="list-group-item list-group-item-light">Pound Sterling = <samp class="dark-bg" id="GBP-price">---</samp></li>
			          	<li class="list-group-item list-group-item-light">Swiss Franc = <samp class="dark-bg" id="CHF-price">---</samp></li>
			            <li class="list-group-item list-group-item-light">Bitcoin = <samp class="dark-bg" id="BTC-price">---</samp></li>
			            <li class="list-group-item list-group-item-light">Ether = <samp class="dark-bg" id="ETH-price">---</samp></li>
			            <li class="list-group-item list-group-item-light">XRP = <samp class="dark-bg" id="XRP-price">---</samp></li>
			          	<li class="list-group-item list-group-item-light">Binance Coin = <samp class="dark-bg" id="BNB-price">---</samp></li>
			          	<li class="list-group-item list-group-item-light">Cardano = <samp class="dark-bg" id="ADA-price">---</samp></li>
			          	<li class="list-group-item list-group-item-light">Litecoin = <samp class="dark-bg" id="LTC-price">---</samp></li>
			          	<li class="list-group-item list-group-item-light">Bitcoin Cash = <samp class="dark-bg" id="BCH-price">---</samp></li>
			            <li class="list-group-item list-group-item-light">Monero = <samp class="dark-bg" id="XMR-price">---</samp></li>
			          	<li class="list-group-item list-group-item-light">Bread = <samp class="dark-bg" id="BRD-price">---</samp></li>
			            <li class="list-group-item list-group-item-light">Doge = <samp class="dark-bg" id="DOGE-price">---</samp></li>
			        	<small style="color: #585d61; display: block;"><a href="{{ url_for('main.help', topic='exchange-rates') }}"><span class="fa fa-spinner fa-pulse"></span> Live rates provided by Coinbase</small></a>
			        	</div>
			          </ul>
					<script type="text/javascript">
						(async function updatePrices(){
							getPrice('BTC', document.getElementById('BTC-price'));
							getPrice('ETH', document.getElementById('ETH-price'));
							getPrice('XRP', document.getElementById('XRP-price'));
							getPrice('XMR', document.getElementById('XMR-price'));
							getPrice('EUR', document.getElementById('EUR-price'));
							getPrice('GBP', document.getElementById('GBP-price'));
							getPrice('CHF', document.getElementById('CHF-price'));
							getPrice('BNB', document.getElementById('BNB-price'));
							getPrice('ADA', document.getElementById('ADA-price'));
							getPrice('LTC', document.getElementById('LTC-price'));
							getPrice('BCH', document.getElementById('BCH-price'));
							getPrice('BRD', document.getElementById('BRD-price'));
							getPrice('DOGE', document.getElementById('DOGE-price'));
							setTimeout(updatePrices, 30000);
						})();
					</script>
					
		     	 </div>
		    </div>
	    <small style="color: #585d61; display: block; text-align: center;">© crytter ● <a href="{{ url_for('main.help', topic='rules') }}">rules</a> ● <a href="{{ url_for('main.help', topic='terms') }}">terms</a></small>
	    </div>
	  </div>
	<script type="text/javascript">if(currencyDropped == 'true'){document.getElementById('currencyList').classList.add('show'); e = document.getElementById('down-arrow'); e.classList.remove('fa-angle-double-down'); e.classList.add('fa-angle-double-up')}</script>
	</main>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
